#!/bin/bash
#PBS -N clearml_task_${CLEARML_TASK.id}
#PBS -l select=${CLEARML_TASK.hyperparams.properties.num_nodes.value:1}:ncpus=1
#PBS -l walltime=1:00:00
#PBS -l place=scatter
#PBS -V 
#PBS -A datascience
#PBS -l filesystems=home:eagle
#PBS -q preemptable 

${CLEARML_PRE_SETUP}

${CLEARML_AGENT_EXECUTE}

${CLEARML_POST_SETUP}
